* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    background: black;
}
.calculator {
    font-size: xx-large;

    background: white;
    padding: 1rem;
}
.display {
    text-align: end;

    background: red;
    padding: 1rem;
}
.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 1rem;
    background: blue;
}
.keypad > * {
    aspect-ratio: 1;
    text-align: center;
    background: red;
}